@{
    @* We can create any variable here through ViewData dictionary *@
    ViewData["Title"] = "Home Page";
}

<a asp-controller="HelloWorld" asp-action="Index">HelloWorld Controller Index</a>
<br>
<a asp-controller="HelloWorld" asp-action="Welcome">HelloWorld Controller Welcome</a>